<div class="panel panel-default">
  <div class="panel-heading">Create Salary Marking</div>
  <div class="panel-body">
    <form name='form' ng-controller='CreateSalaryController' class="form-horizontal" ng-submit='create()'>
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new salary.</div>
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-6">
          <months ng-model='salary_receipt.month' title='Salary for the month of'></months>
        </div>
        <!-- End First Column -->

        <!-- Second Column -->
        <div class="col-sm-6">
          <years ng-model='salary_receipt.year' title='Year'></years>
        </div>
        <!-- End Second Column -->
      </div>
      <div class="col-sm-12">
        <div class="panel panel-default employee-salary">
          <div class="update_form">
            <table id='objects-list' class="table table-bordered table-striped scrolling">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Salary</th>
                  <th>Remark if any</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='f in employeeSalaryReceipts'>
                  <td>{{f.properties.name}}</td>

                  <td style="text-align: left;">
                    <input type="checkbox" ng-model='f.properties.enabled'>{{f.salary}}</input>
                  </td>

                  <td>
                    <input type="text" ng-model="f.remark" class="form-control">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="ui buttons padding">
        <a class="btn btn-default" ng-click="create()" ng-disabled="!isSomethingChecked() || !salary_receipt.month" id="btnPrint">CREATE SALARY AND PRINT</a>
      </div>
    </form>
  </div>
</div>
