<div class="panel panel-default" ng-controller='CreateGrievancesController'>
  <div class="panel-heading">Stock Return/Grievances</div>
  <div class="panel-body">
    <form name='form' class="form-horizontal">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new daily meal.</div>
      <!-- First Column -->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="form-group">
                <label for='date' class="col-sm-1 control-label">Date</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input name='date' ng-model='grievance.date' class="form-control" date-options />

                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 style="text-align: right">{{reason.reason}} Voucher No. 00001</h5>
            </div>
          </div>
          <div class="col-sm-12">
            <div >
              <div class="col-sm-3" style="text-align: center;">
               <label class="radio-inline">
                  <input type="radio" name="optionsRadios" ng-model="reason.reason" value="Return" >Return
                </label>
              </div>
              <div class="col-sm-3" style="text-align: center;">
                <label class="radio-inline">
                  <input type="radio" name="optionsRadios" ng-model="reason.reason" value="Breakage">Breakage
                </label>
              </div>
              <div class="col-sm-3" style="text-align: center;">
                <label class="radio-inline">
                  <input type="radio" name="optionsRadios" ng-model="reason.reason" value="Faulty">Faulty
                </label>
              </div>
              <div class="col-sm-3" style="text-align: center;">
                <label class="radio-inline">
                  <input type="radio" name="optionsRadios" ng-model="reason.reason" value="Theft">Theft
                </label>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='meal.meal_id' class="control-label">Item Name</label>
                </div>
                <div class="col-sm-6">
                  <select name='reason.item_id' ng-model='reason.item_id' class="form-control" required>
                    <option ng-repeat="item in items" ng-value='{{item.id}}'>{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for='reason.qty' class="control-label">Qty.</label>
                </div>
                <div class="col-sm-4">
                  <input name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                  <input type="hidden" name='daily_meal.qty' type='text' ng-model='reason.qty' class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="text-align: center;">
              <button type="submit" class="btn btn-default" ng-click='add()'>Add</button>
              <button type="submit" class="btn btn-default" ng-click='reset()'>Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <br />
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body scrolling">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="10%" class="center">S/N</th>
                  <th class="center" width="30%">Item Name</th>
                  <th class="center" width="30%">Quantity</th>
                  <th class="center" width="30%">Type of Return</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="thing in things">
                  <td class="center">{{thing.numeral}}</td>
                  <td class="center">{{thing.itemName}}</td>
                  <td class="center">{{thing.qty}}</td>
                  <td class="center">{{thing.reason}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <label for='reason' class="col-sm-1 control-label">Note</label>
            <div class="col-sm-4">
              <textarea name="reason" ng-model="grievance.note" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui buttons">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
          <a ng-click="reset()" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
