<tbody>
  <tr>
    <td style="text-align: center;"><%= salary.employee.full_name%></td>
    <td style="text-align: center;"><%= salary.employee.salary_rate %></td>
    <td style="text-align: center;"><%= salary.remark %>
  </tr>
</tbody>
