<form name='form' ng-controller='CreateInvoicesController' class="form-horizontal">
  <div class="alert alert-success" role="alert" ng-show="alert">Successfully added.</div>
  <div class="col-sm-6">
    <div class="form-group">
      <div class="col-sm-4">
        <label for='date' class="control-label">To Date</label>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input name='date' ng-model='invoice.date' class="form-control" date-options />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Second Column -->
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body scrolling">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="center">Invoice No.</th>
                <th class="center">Customer Name</th>
                <th class="center">Amount</th>
                <th class="center">Paid Date</th>
                <th class="center">Status</th>
                <th class="center">Payment Mode</th>
              </tr>
            </thead>
            <tbody>
              <tr data-index="{{$index}}" ng-repeat="i in items">
                <td class="center">{{i.invoiceNo}}</td>
                <td class="center">{{i.ledgerName}}</td>
                <td class="center"></td>
                <td class="center">{{i.date}}</td>
                <td class="center"></td>
                <td class="center">{{i.paymentMethod}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Payment Ack</div>
      <div class="panel-body">
        <div class="col-sm-12">
          <div class="form-group">
            <div class="col-sm-4" style="text-align: right">
              <label for='reason' class="control-label">Reason</label>
            </div>
            <div class="col-sm-4">
              <input name='reason' type='text' ng-model='reason' class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group ui buttons">
    <div class=" col-sm-12">
      <button type="submit" class="btn btn-default" ng-click="cancel()" ng-disabled='form.$invalid'>Cancel Transaction</button>
      <button type="submit" class="btn btn-default" ng-click="bounce()">Mark Payment As Bounced</button>
    </div>
  </div>
</form>
