<div class="panel panel-default" ng-controller='UpdateStudentsController'>
  <div class="panel-heading">Update Existing Entry</div>

  <students-list></students-list>
    <form name='form' class="form-horizontal update" ng-submit='update(students[$index])' ng-show="show_form">

      <div class="panel panel-default update-student">
        <div class="update_form">
        <div class="alert alert-success" role="alert" ng-show="alert">You successfully updated an student.</div>
          <div class="col-sm-12">
            <!-- Firs column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.entry_no' class="control-label">Entry No.</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.entry_no' type='text' ng-model='currentUser.entryNo' class="form-control" disabled/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.group_no' class="control-label">GR No.</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.group_no' type='text' ng-model='currentUser.groupNo' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.admission_date' class="control-label">Date of Admission</label>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input name='currentUser.admission_date' ng-model='currentUser.admissionDate' class="form-control" date-options/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.admission' class="control-label">Std. of Admission</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.admission" class="form-control" ng-model="currentUser.admissionId">
                    <option ng-repeat="admission in admissions" value='{{admission.id}}'>{{admission.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateAdmissionsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.academic_year' class="control-label">Academic Year</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.academic_year" class="form-control" ng-model="currentUser.academicYearId">
                    <option ng-repeat="academic_year in academic_years" value='{{academic_year.id}}'>{{academic_year.range}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateAcademicYearsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.first_name' class="control-label">First Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.first_name' type='text' ng-model='currentUser.firstName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.father_name' class="control-label">Father's Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.father_name' type='text' ng-model='currentUser.fatherName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.mother_name' class="control-label">Mother's Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.mother_name' type='text' ng-model='currentUser.motherName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.last_name' class="control-label">Last Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.last_name' type='text' ng-model='currentUser.lastName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.gender' class="control-label">Gender</label>
                </div>
                <div class="col-sm-6">
                  <label for='currentUser.gender.male' class="radio-inline">
                    <input type="radio" id="currentUser.gender.male" value="male" ng-model="currentUser.gender">Male
                  </label>
                  <label for='currentUser.gender.female' class="radio-inline">
                    <input type="radio" id="currentUser.gender.female" value="female" ng-model="currentUser.gender">Female
                  </label>
                </div>
              </div>

              <place-of-birth ng-model="currentUser.birthPlace"></place-of-birth>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.birthday' class="control-label">Date of Birth</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.birthday' ng-model='currentUser.birthday' class="form-control" date-options />
                </div>
              </div>
            </div>
            <!-- End First Column -->

            <!-- Second Column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.religion' class="control-label">Religion</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.religion" class="form-control" ng-model="currentUser.religionId">
                    <option ng-repeat="religion in religions" value='{{religion.id}}'>{{religion.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateReligionsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.caste' class="control-label">Caste</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.caste" class="form-control" ng-model="currentUser.casteId">
                    <option ng-repeat="caste in castes" value='{{caste.id}}'>{{caste.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateCastesController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label">Nationality</label>
                </div>
                <div class="col-sm-6">
                  <country-select data-ng-model="currentUser.nationality" class="form-control"></country-select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.standard' class="control-label">Standard</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.standard" class="form-control" ng-model="currentUser.standardId">
                    <option ng-repeat="standard in standards" value='{{standard.id}}'>{{standard.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateStandardsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.division' class="control-label">Division</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.division" class="form-control" ng-model="currentUser.divisionId">
                    <option ng-repeat="division in divisions" value='{{division.id}}'>{{division.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateDivisionsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.transport' class="control-label">Transport</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.transport" class="form-control" ng-model="currentUser.transportId">
                    <option ng-repeat="transport in transports" value='{{transport.id}}'>{{transport.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateTransportsController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.finance_mode' class="control-label">Finance Mode</label>
                </div>
                <div class="col-sm-6">
                  <select name="currentUser.finance_mode" class="form-control" ng-model="currentUser.financeModeId">
                    <option ng-repeat="finance_mode in finance_modes" value="{{finance_mode.id}}">{{finance_mode.name}}</option>
                  </select>
                </div>
                <div class="col-sm-2" ng-controller="CreateFinanceModesController">
                  <a ng-click="openForm('sm')" class="btn btn-default">
                    <i class="fa fa-folder-plus"></i>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.remarks' class="control-label">Remarks</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.remarks' type='text' ng-model='currentUser.remarks' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.last_school' class="control-label">Last School</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.last_school' type='text' ng-model='currentUser.lastSchool' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.contact_no' class="control-label">Contact No.</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.contact_no' type='text' ng-model='currentUser.contactNo' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.address' class="control-label">Address</label>
                </div>
                <div class="col-sm-6">
                  <textarea name='currentUser.address' type='text' ng-model='currentUser.address' class="form-control" />
                </div>
              </div>
            </div>
            <!-- End Second Column -->
          </div>
        </div>
      </div>
      <div class="ui buttons padding">
        <a href="#" ng-click="previous()" class="btn btn-default">&lt;&lt; Previous Record</a>
        <button type="submit" class="btn btn-default">Save and Continue</button>
        <a href="#" ng-click="next()" class="btn btn-default" ng-disabled='students.length === 0'>Next Record &gt;&gt;</a>
      </div>
    </form>
    <div class="ui buttons padding" ng-hide="clicked">
      <button type="submit" class="btn btn-default" ng-disabled='students.length === 0'>&lt;&lt; Previous Record</button>
      <button type="submit" class="btn btn-default" ng-disabled='students.length === 0'>Save and Continue</button>
      <button type="submit" class="btn btn-default" ng-disabled='students.length === 0'>Next Record &gt;&gt;</button>
    </div>
  </div>
</div>
