<div class="panel panel-default">
  <div class="panel-heading">Daily Item Usage for Mid Day Meal</div>
  <div class="panel-body" ng-controller='CreateMonthlyRecordsController'>
    <form name='form' ng-controller='CreateMonthlyRecordsController' class="form-horizontal">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new monthly govt records.</div>
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-6">
          <months ng-model='monthly_record.month' title='Month'></months>

          <div class="form-group">
            <div class="col-sm-4">
              <label for='meals_made' class="control-label">Meals Made:</label>
            </div>
            <div class="col-sm-6">
              <table class="table meals">
                <thead>
                  <tr>
                    <th class="center">I</th>
                    <th class="center">II</th>
                    <th class="center">III</th>
                    <th class="center">IV</th>
                    <th class="center">V</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="center">{{months[monthly_record.month].no_of_student1}}</td>
                    <td class="center">{{months[monthly_record.month].no_of_student2}}</td>
                    <td class="center">{{months[monthly_record.month].no_of_student3}}</td>
                    <td class="center">{{months[monthly_record.month].no_of_student4}}</td>
                    <td class="center">{{months[monthly_record.month].no_of_student5}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class=col-sm-10>
            <table class="table meals" id="meals_made">
              <thead>
                <tr>
                  <th class="center">Item Name</th>
                  <th class="center" width="10%">Left</th>
                  <th class="center" width="20%">Last Received</th>
                  <th class="center" width="10%">Used</th>
                  <th class="center" width="15%">Ordered</th>
                  <th class="center" width="20%">Received this month</th>
                  <th class="center" width="5%"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center">
                    <select name='meal.meal_id' ng-model='meal.meal_id' class="form-control">
                      <option ng-repeat="m in meals" ng-value='m.id'>{{m.title}}</option>
                    </select>
                  </td>
                  <td class="center">{{months[monthly_record.month].meals[meal.meal_id].left}}</td>
                  <td class="center">{{months[monthly_record.month].meals[meal.meal_id].last_received}}</td>
                  <td class="center">{{months[monthly_record.month].meals[meal.meal_id].used}}</td>
                  <td class="center">
                    <input name='meal.ordered' type='text' ng-model='meal.ordered' class="form-control" />
                  </td>
                  <td class="center">
                    <input name='meal.received' type='text' ng-model='meal.received' class="form-control" />
                  </td>
                  <td class="center">
                    <button type="submit" class="btn btn-default" ng-click='add()'>Add</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>

      <br />
      <form name='form'  class="form-horizontal" ng-submit='create()'>
        <div class="panel panel-default">
          <div class="panel-body scrolling">
            <table id='objects-list' class="table scrolling">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Ordered</th>
                  <th>Received this month</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="food in foods">
                  <td>{{food.title}}</td>
                  <td>{{food.ordered}}</td>
                  <td>{{food.received}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="form-group">
          <table class="table">
            <tbody>
              <tr>
                <td width="27%">Expense made towards: Fuel and Vegetables</td>
                <td>
                  <input name='midday_meal.expense' type='text' ng-model='midday_meal.expense' class="form-control" />
                </td>
                <td width="12%">Cooks and helpers</td>
                <td>
                  <input name='midday_meal.cooks' type='text' ng-model='midday_meal.cooks' class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group ui buttons">
          <div class=" col-sm-12">
            <button type="submit" ng-click='create()' class="btn btn-default" ng-disabled='form.$invalid'>Save</button>
            <a ng-click="reset()" class="btn btn-default">Reset</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
