<div class="text-bottom">
  <h1>Requisitions</h1>
</div>
<div class="panel panel-default" ng-controller='RequisitionsController' >
  <div class="panel-heading">Requisition</div>
  <div class="panel-body" ng-controller='CreateRequisitionsController'>
    <form name='form' class="form-horizontal">
      <div class="messages">
        <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new requisition.</div>
      </div>
      <!-- First Column -->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="form-group">
                <label for='date' class="col-sm-1 control-label">Date</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input name='date' ng-model='requisition.date' class="form-control" date-options />

                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 style="text-align: right"> Requisition No. {{requisition.requisitionNo}}</h5>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm-12">
            <requisition-filter></requisition-filter>

            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6" style="text-align: right">
                  <label for='reason.qty' class="control-label">Warehouse</label>
                </div>
                <div class="col-sm-6">
                   <select name='requisition_item.warehouse_id' ng-model='requisition_item.warehouse_id' class="form-control" required>
                    <option ng-repeat="w in warehouses" ng-value='{{w.id}}'>{{w.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='meal.meal_id' class="control-label">Item Name</label>
                </div>
                <div class="col-sm-6">
                  <select name='requisition_item.item_id' ng-model='requisition_item.item_id' class="form-control" required>
                    <option ng-repeat="item in items | filter:bySelectors" data-index="{{$index}}" ng-value='{{item.id}}'>{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for='requisition_item.qty' class="control-label">Qty.</label>
                </div>
                <div class="col-sm-4">
                  <input name='requisition_item.qty' type='text' ng-model='requisition_item.qty' class="form-control" quantity-requisition-validator required/>
                  <input type="hidden" name='requisition_item.qty' type='text' ng-model='requisition_item.qty' class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="text-align: center;">
              <button type="submit" class="btn btn-default" ng-click='add()' ng-disabled="form.$invalid">Add</button>
              <button type="submit" class="btn btn-default" ng-click='reset()'>Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <br />
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body scrolling">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="10%" class="center">S/N</th>
                  <th class="center" width="30%">Item Name</th>
                  <th class="center" width="30%">Quantity</th>
                  <th class="center" width="30%">Warehouse</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="thing in things">
                  <td class="center">{{thing.numeral}}</td>
                  <td class="center">{{thing.itemName}}</td>
                  <td class="center">{{thing.qty}}</td>
                  <td class="center">{{thing.warehouseName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group ui buttons">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
          <a ng-click="reset()" class="btn btn-default">Reset</a>
        </div>
      </div>
    </div>
  </div>
</div>
