<div class="panel panel-default" ng-controller='CreateInwardsController' >
  <div class="panel-heading">Stock Inward</div>
  <div class="panel-body">
    <form name='form' class="form-horizontal">
      <div class="alert alert-success" role="alert" ng-show="alert">Successfully added.</div>
      <!-- First Column -->
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <label for='date' class="col-sm-2 control-label">Date</label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input name='date' ng-model='stock_inward.date' class="form-control" date-options />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for='requisition_ref' class="col-sm-6 control-label">Requisition Ref.</label>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input name='requisition_ref' ng-model='stock_inward.requisition_ref' class="form-control" date-options />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <h5 style="text-align: right">Voucher No. {{stock_inward.voucherNo}}</h5>
            </div>
          </div>
          <br><br><br>

          <div class="col-sm-12">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='meal.meal_id' class="control-label">Distribution Company</label>
                </div>
                <div class="col-sm-6">
                  <select name='requisition_item.company_id' ng-model='requisition_item.company_id' class="form-control" required>
                    <option ng-repeat="c in companies" ng-value='{{c.id}}'>{{c.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6" style="text-align: right">
                  <label for='reason.qty' class="control-label">Warehouse</label>
                </div>
                <div class="col-sm-6">
                   <select name='requisition_item.warehouse_id' ng-model='requisition_item.warehouse_id' class="form-control" required>
                    <option ng-repeat="w in warehouses" ng-value='{{w.id}}'>{{w.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>

          <div class="col-sm-12">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='meal.meal_id' class="control-label">Item Name</label>
                </div>
                <div class="col-sm-6">
                  <select name='reason.item_id' ng-model='reason.item_id' class="form-control" required>
                    <option ng-repeat="item in items" ng-value='{{item.id}}'>{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='reason.qty' class="control-label">Qty.</label>
                </div>
                <div class="col-sm-8">
                  <input name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                  <input type="hidden" name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for='reason.qty' class="control-label">Sub Qty.</label>
                </div>
                <div class="col-sm-6">
                  <input name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                  <input type="hidden" name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for='reason.qty' class="control-label">Purchase Rate</label>
                </div>
                <div class="col-sm-6">
                  <input name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                  <input type="hidden" name='reason.qty' type='text' ng-model='reason.qty' class="form-control"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="center" style="text-align: center">
        <button type="submit" class="btn btn-default" ng-click='add()'>Add</button>
        <button type="submit" class="btn btn-default" ng-click='reset()'>Reset</button>
      </div>
    </form>

    <br />
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body scrolling">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="center">S/N</th>
                  <th class="center">Item Name</th>
                  <th class="center">Quantity</th>
                  <th class="center">S. Qty</th>
                  <th class="center">Rate</th>
                  <th class="center">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="thing in things">
                  <td class="center">{{thing.numeral}}</td>
                  <td class="center">{{thing.itemName}}</td>
                  <td class="center">{{thing.qty}}</td>
                  <td class="center">{{thing.reason}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-8">
          <div class="form-group">
            <label for='note' class="col-sm-1 control-label">Note</label>
            <div class="col-sm-8">
              <textarea name="note" ng-model="stock_inward.note" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-inline">
              <label for='invoice_no' class="col-sm-1 control-label">Invoice No.</label>
              <div class="col-sm-4">
                <input name="invoice_no" type="text" ng-model="stock_inward.invoice_no" class="form-control">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Amount Paid
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for='amount' class="col-sm-1 control-label">Amount</label>
            <div class="col-sm-4">
              <input type="text" name="amount" ng-model="stock_inward.amount" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1">
              <label for='cheque' class="control-label">Cheque No.</label>
            </div>
            <div class="col-sm-6">
              <input name='cheque' type='text' ng-model='stock_inward.cheque_no' class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-1">
              <label for='datetime' class="control-label">Date</label>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <input name='datetime' ng-model='stock_inward.date' class="form-control" date-options/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Secon Column -->

        <div class="col-sm-4">
          <div class="form-group">
            <label for='reason' class="col-sm-4 control-label">Sub Total</label>
            <div class="col-sm-8">
              <h5>20000.00</h5>
            </div>
          </div>
          <div class="form-group">
            <label for='reason' class="col-sm-4 control-label">Discount</label>
            <div class="col-sm-4">
              <input type="text" name="reason" ng-model="grievance.note" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for='reason' class="col-sm-4 control-label">Taxes</label>
            <div class="col-sm-4">
              <h5>(+)2000.00</h5>
            </div>
          </div>
          <div class="form-group">
            <label for='reason' class="col-sm-4 control-label">Total</label>
            <div class="col-sm-4">
              <h5>22000.00</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group ui buttons">
      <div class=" col-sm-12">
        <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
        <a ng-click="reset()" class="btn btn-default">Reset</a>
      </div>
    </div>
  </div>
</div>
