<form name='form' class="form-horizontal update">
  <div class="alert alert-danger" role="alert" ng-show="alert" style="width: 95%; margin: 20px auto">Voucher number can not be found.</div>
  <div class="panel panel-default fees">
    <div class="update_form">
      <div class="col-sm-12">
        <!-- Firs column -->
        <div class="form-group">
          <div class="col-sm-2">
            <label for='receipt' class="control-label">Voucher No.</label>
          </div>
          <div class="col-sm-6">
            <input name='receipt' type='text' ng-model='number' class="form-control" required/>
          </div>
        </div>

        <!-- End First Column -->

         <div class="panel panel-default update-employee">
          <div class="panel-body alignment" ng-hide="clicked">
            <button type="submit" class="btn btn-default" disabled>Snapshot of Receipt</button>
          </div>
          <div ng-show="clicked" style="width: 95%; margin: 0 auto">
            <div class="page-header" style="margin: 20px 0 20px;">
              <button type="submit" class="btn btn-warning" style="float: right" disabled ng-show="receipt.chequeStatus">{{receipt.chequeStatus}}</button>
              <button type="submit" class="btn btn-danger" style="float: right" disabled ng-show="receipt.status">{{receipt.status}}</button>
              <br><br>
            </div>
            <div class="row">
              <div class="first">
                <div class="col-xs-5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4>Receipt No. {{receipt.number}} Date {{receipt.date}}</h4>
                    </div>
                    <div class="panel-body">
                      <p>
                        Student Name: {{receipt.student.fullName}} <br>
                        Standard: {{receipt.student.standard.name}}<br>
                        Div: {{receipt.student.division.name}}<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="second">
                <div class="col-xs-5 col-xs-offset-2 text-right">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4>Payment Method</h4>
                    </div>
                    <div class="panel-body" ng-show="bank_info">
                      <p>
                        Cheque No.: {{receipt.chequeNumber}}<br>
                        Bank Name: {{receipt.bankName}} <br>
                      </p>
                    </div>
                    <div class="panel-body" ng-show="cash">
                      <p>
                        Cash
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="update_form">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="25%" style="text-align: left;">Fees Head</th>
                          <th width="25%" style="text-align: right;">Amount</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <td style="text-align: center">Total</td>
                          <td style="text-align: right">{{total}}</td>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr ng-repeat="f in receipt.receiptsFeesHeads">
                          <td style="text-align: left;">{{f.feesName}}</td>
                          <td style="text-align: right;">{{f.amount | number}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="ui buttons padding">
  <a ng-click="find()" class="btn btn-default" ng-disabled="form.$invalid">Find</a>
  <a ng-click="cancel()" class="btn btn-default" ng-disabled="form.$invalid">Cancel Receipt</a>
</div>