<div class="panel panel-default">
  <div class="panel-heading">Vehicle Unloading</div>
  <div class="panel-body">
    <div  ng-controller="CreateVehicleUnloadingController">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new vehicle unloading.</div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-4">
            <div class="form-group">
              <div class="col-sm-3">
                <label for='meal.meal_id' class="control-label">Vehicle</label>
              </div>
              <div class="col-sm-6">
                <select name='vehicle_stock_item.vehicle_id' ng-model='vehicle_loading.vehicle_id' class="form-control" required>
                  <option ng-repeat="v in vehicles" ng-value='{{v.id}}'>{{v.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="col-sm-4" style="text-align: right">
                <label for='reason.qty' class="control-label">Warehouse</label>
              </div>
              <div class="col-sm-6">
                 <select name='vehicle_stock_item.warehouse_id' ng-model='vehicle_loading.warehouse_id' class="form-control" required>
                  <option ng-repeat="w in warehouses" ng-value='{{w.id}}'>{{w.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="col-sm-6" style="text-align: right">
                <label for='device_id' class="control-label">Device id</label>
              </div>
              <div class="col-sm-4">
                 <select name='vehicle_stock_item.device_id' ng-model='vehicle_loading.device_id' class="form-control" required>
                  <option ng-repeat="d in devices" ng-value='{{d.id}}'>{{d.deviceId}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form name='form' class="form-horizontal">
        </br></br></br>
        <div class="col-sm-6">
          <h4 style="text-align: right">Total Stock in Vehicle No. {{vehicle_loading.vehicle_id}}</h4>
        </div>
        <div class="col-sm-6"><h4 style="text-align: left">Rs 225000 /-</h4></div>

        <vehicle-filter></vehicle-filter>
      </form>

      <div class="form-group">
        <div class="col-sm-1">
          <label for='vehicle_loading.note' class="control-label">Note</label>
        </div>
        <div class="col-sm-4">
          <textarea name="vehicle_loading.note" ng-model="vehicle_loading.note" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group ui buttons">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
          <a ng-click="reset()" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
