<div class="panel panel-default">
  <div class="panel-heading">Vehicle Unloading</div>
  <div class="panel-body">
    <div  ng-controller="CreateVehicleUnloadingController">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new vehicle unloading.</div>
      <form name='form' class="form-horizontal">
        <div class="col-sm-12">
          <div class="col-sm-4" style="margin-left: 376px;">
            <div class="col-sm-3">
              <label for='comapanyId' class="control-label">Vehicle</label>
            </div>
            <div class="col-sm-8">
              <select name='companyId' ng-model='search.companyId' class="form-control">
               <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
              </select>
            </div>
          </div>
        </div>
        </br></br></br>
        <div class="col-sm-6">
          <h4 style="text-align: right">Total Stock in Vehicle No. MH 04 CD 1100</h4>
        </div>
        <div class="col-sm-6"><h4 style="text-align: left">Rs 225000 /-</h4></div>

        <div class="panel-body scrolling">
          <table id='objects-list' class="table table-bordered table-striped scrolling">
            <thead>
              <tr>
                <th style="text-align: center">S/N</th>
                <th style="text-align: center">Item Name</th>
                <th style="text-align: center">Qty</th>
                <th style="text-align: center">Return</th>
                <th style="text-align: center">Breakage</th>
                <th style="text-align: center">Faulty</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td style="text-align: center">Pepsi 250Ml</td>
                <td style="text-align: center">125</td>
                <td><input type="text" name="rate" ng-model="rate" class="form-control"></td>
                <td><input type="text" name="rate" ng-model="rate" class="form-control"></td>
                <td><input type="text" name="rate" ng-model="rate" class="form-control"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>

      <div class="form-group">
        <div class="col-sm-1">
          <label for='vehicle_loading.note' class="control-label">Note</label>
        </div>
        <div class="col-sm-4">
          <textarea name="vehicle_loading.note" ng-model="vehicle_loading.note" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group ui buttons">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-default" ng-click="create()">Submit</button>
          <a ng-click="reset()" class="btn btn-default">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
