<div class="panel panel-default">
  <div class="panel-heading">Vehicle Unloading</div>
  <div class="panel-body">
    <div  ng-controller="CreateVehicleUnloadingController">
      <form name='form' class="form-horizontal">
        </br>
        <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new vehicle unloading.</div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <label class="col-sm-8 control-label">Total stock in vehicle no. {{vehicle_loading.vehicle.name}}</label>
            </div
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
