<div class="modal-header">
  <a type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></a>
  <h4 class="modal-title">New Academic Year Option</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Range</label>
      <div class="col-sm-10">
        <input type="text" name="title" id="title" ng-model="academic_year.range" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-default btn-sm" ng-click="create()" ng-disabled="!academic_year.range">OK</a>
  <a class="btn btn-default" ng-click="close()">Cancel</a>
</div>
