<div class="panel panel-default student-list">
  <div class="col-sm-6" style="margin-top: 10px;">
    <div class="form-group">
      <div class="col-sm-4" style="margin-top: 9px;">
        <label for='student.standardId' class="control-label">Class</label>
      </div>
      <div class="col-sm-6">
        <select name='search.standardId' ng-model='search.standardId' class="form-control">
          <option ng-repeat="standard in standards" value="{{standard.id}}">{{standard.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="margin-top: 10px;">
    <div class="form-group">
      <div class="col-sm-4" style="margin-top: 9px;">
        <label for='search.divisionId' class="control-label">Division</label>
      </div>
      <div class="col-sm-6">
        <select name="search.divisionId" class="form-control" ng-model="search.divisionId">
          <option ng-repeat="division in divisions" value='{{division.id}}'>{{division.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="panel-body scrolling">
    <table id='objects-list' class="table table-bordered table-striped scrolling">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>GR No.</th>
          <th>Date of Admission</th>
          <th>Entry No.</th>
        </tr>
      </thead>
      <tbody>
        <tr data-id='{{student.id}}' ng-repeat='student in students | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage | filter:bySelectors'>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.groupNo}}</td>
          <td>{{student.admissionDate}}</td>
          <td>{{student.entryNo}}</td>
        </tr>
      </tbody>
    </table>
    <pagination total-items='students.length' ng-model='currentPage' items-per-page='itemsPerPage' max-size="5" data-previous-text="&laquo;" data-next-text="&raquo;">
    </pagination>
  </div>
</div>
