<div class="col-sm-6">
  <div class="form-group">
    <div class="col-sm-4">
      <label for='student.standardId' class="control-label">Class</label>
    </div>
    <div class="col-sm-6">
      <select name='search.standardId' ng-model='search.standardId' class="form-control">
        <option ng-repeat="standard in standards" value="{{standard.id}}">{{standard.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <label for='search.divisionId' class="control-label">Division</label>
    </div>
    <div class="col-sm-6">
      <select name="search.divisionId" class="form-control" ng-model="search.divisionId">
        <option ng-repeat="division in divisions" value='{{division.id}}'>{{division.name}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-4">
      <label for='student' class="control-label">Student</label>
    </div>
    <div class="col-sm-6">
      <select ng-model='student' ng-options='student.fullName() for student in students | filter:bySelectors' class="form-control">
      </select>
    </div>
  </div>
</div>
