<tbody>
  <tr>
    <td style="text-align: center;"><%= employee_salary_receipt.employee.full_name%></td>
    <td style="text-align: center;"><%= employee_salary_receipt.employee.salary %></td>
    <td style="text-align: center;"><%= employee_salary_receipt.remark %>
  </tr>
</tbody>
