<div class="panel panel-default" ng-controller="DeleteEmployeesController">
  <div class="panel-heading">Delete Entry</div>
    <div class="alert-message">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully removed the employee.</div>
    </div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <table class="table table-bordered table-striped scrolling">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Contact No.</th>
            </tr>
          </thead>
          <tbody>
            <tr data-index='{{$index + (currentPage - 1) * itemsPerPage}}' ng-repeat='employee in employees | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage'>
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.contactNo}}</td>
            </tr>
          </tbody>
        </table>
        <pagination total-items='employees.length' ng-model='currentPage' items-per-page='itemsPerPage' max-size="5" data-previous-text="&laquo;" data-next-text="&raquo;">
        </pagination>
      </div>
    </div>

    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default" ng-click="remove()" ng-disabled="clicked">Delete Employee</button>
    </div>
  </div>
</div>
