<div ng-controller='EmployeesController' ui-view='employees'>
  <div class="text-bottom">
    <h1>Employee Records</h1>
  </div>

  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ui-sref-active="active">
      <a ui-sref="employees.new">New Employee Record</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="employees.edit">Update Existing Records</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="employees.delete">Delete Records</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="employees.salary">Salary Marking</a>
    </li>
  </ul>

  <div ui-view></div>
</div>
