<div ng-controller='FeesHeadsController' ui-view='fees_heads'>
  <div class="text-bottom">
    <h1>Fees Managements</h1>
  </div>

  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ui-sref-active="active">
      <a ui-sref="fees_heads.head">Fees Heads</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="fees_heads.student_fees">Individual Student Concession</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="fees_heads.fees_collection">Fees Collection</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="fees_heads.cancel_receipt">Cancel Receipt</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ui-sref="fees_heads.cheque_no">Cheque Bounce Marking</a>
    </li>
  </ul>

  <div ui-view></div>
</div>
