<div class="home" ng-controller="HomeController">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="panel panel-default" style="height: 255px;">
          <div class="panel-body">
            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Total Female Students</td>
                  <td style="border-top: none;">{{dashboard.students_female_count}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Male Students</td>
                  <td style="border-top: none;">{{dashboard.students_male_count}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Students</td>
                  <td style="border-top: none;">{{dashboard.students.length}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Teaching Staff</td>
                  <td style="border-top: none;">{{dashboard.employees.length}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Non-teaching Staff</td>
                  <td style="border-top: none;">{{dashboard.employees_section.length}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Teachers on Govt. Pay</td>
                  <td style="border-top: none;">{{dashboard.employees_govt_pay.length}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default" style="height: 255px;">
          <div class="panel-body">
            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Today's Fees Collection</td>
                  <td style="border-top: none;" ng-show="dashboard.today_fees_collection">Rs. {{dashboard.today_fees_collection | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Collected this Month</td>
                  <td style="border-top: none;" ng-show="dashboard.current_month_fees_collection">Rs. {{dashboard.current_month_fees_collection | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Collected last month</td>
                  <td style="border-top: none;" ng-show="dashboard.last_month_fees_collection">Rs. {{dashboard.last_month_fees_collection | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Outstanding</td>
                  <td style="border-top: none;">Rs. 25000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default" style="height: 255px;">
          <div class="panel-body">
            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Today's Expenses</td>
                  <td style="border-top: none;" ng-show="dashboard.expense">Rs. {{dashboard.expense | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Expense this month</td>
                  <td style="border-top: none;" ng-show="dashboard.expense_current_month">Rs. {{dashboard.expense_current_month | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Salary Expenses last month</td>
                  <td style="border-top: none;" ng-show="dashboard.salary_expenses_last_month">Rs. {{dashboard.salary_expenses_last_month | number}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Yesterday's closing balance</td>
                  <td style="border-top: none;">Rs. 250</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default" style="height: 255px;">
          <div class="panel-body">
            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Food plates made</td>
                  <td style="border-top: none;">500</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Food Made</td>
                  <td style="border-top: none;">Dal-Bhat</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Critical Stock</td>
                  <td style="border-top: none;">Rice</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
