<% if signed_in? %>
  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
    <li ui-sref-active="active"><a ui-sref="employees">Employees</a></li>
    <li ui-sref-active="active"><a ui-sref="managements">Master Management</a></li>
    <li ui-sref-active="active"><a ui-sref="grievances">Grievance</a></li>
    <li ui-sref-active="active"><a ui-sref="payment_vouchers">Payment Vouchers</a></li>
  </ul>
<% end %>

<div class="right menu">
  <%= render 'layouts/profile' %>
</div>
