<% if signed_in? %>
  <ul class="nav navbar-nav">
    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
    <li ui-sref-active="active"><a ui-sref="employees">Employees</a></li>
    <li ui-sref-active="active"><a ui-sref="students">Students</a></li>
    <li ui-sref-active="active"><a ui-sref="cash_managements">Cash Managements</a></li>
    <li ui-sref-active="active"><a ui-sref="midday_managements">Mid-Day Meal Management</a></li>
    <li ui-sref-active="active"><a ui-sref="fees_heads">Fees Managements</a></li>
  </ul>
<% end %>

<div class="right menu">
  <%= render 'layouts/profile' %>
</div>
